---
import BaseLayout from '../layouts/BaseLayout.astro';
import Header    from '../components/Header.astro';
import Hero      from '../components/Hero.astro';
import About     from '../components/About.astro';
import Journey   from '../components/Journey.astro';
import Skills    from '../components/Skills.astro';
import Projects  from '../components/Projects.astro';
import Contact   from '../components/Contact.astro';
import Footer    from '../components/Footer.astro';
---
<BaseLayout>
  <Header />
  <main>
    <Hero />
    <About />
    <Journey />
    <Skills />
    <Projects />
    <Contact />
  </main>
  <Footer />
</BaseLayout>
